@model List<ICA01.Models.Rent>
@using ICA01.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NofBuliding</title>
</head>
<body>
    <div> 
        <h3>NoofBuldings  @ViewBag.count</h3>
    </div>
</body>
</html>
